main {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

h1, h2 {
    font-weight: bold;
}

h1, h2, h3 {
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h2 a{
    color: black;
    font-weight: bold;
}

h2 a:hover {
    font-weight: 800;
}

.card a {
    text-decoration: underline;
}

ul {
    padding-left: 1rem;
}

.flex-deliverables {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5rem;
}

.flex-deliverables-element {
    flex: 1 1 20rem;
}

.flex-deliverables-element:not(ul) {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

li {
    text-align: left;
}

#tall-img {
    max-width: 45%;
}