
.sprints {
    padding: 2rem 10rem;
}

.card {
    padding: 2rem 4rem 2rem 2rem;
    display: flex;
    margin-bottom: 1.5rem;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    text-align: left;
}

h2 {
    margin-bottom: 0.5rem;
}

.sprint-image {
    overflow: hidden;
    align-self: center;
}

.sprint-image img {
    width: auto;
    height: 20rem;
    float: right;
    border: 5px solid var(--dark-color);
    border-radius: 8px;
}

.card div:first-child {
    width: 32rem;
}

@media screen and (max-width: 768px) {
    .sprints{
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 1920px) {
    .sprint-image img{
        height: 25rem;
    }
}



