/* Base styling */
* {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    --main-color: #5D3BE8;
    /* --light-color: #7bb0c4;
    --dark-color: #362b48; */
    --light-color: #ffff;
    --dark-color: #362b48;
  }

  /* Sticky Navbar */
  .navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-size: 1.5rem;
    background-color: var(--dark-color);
    padding: 0.5rem 2rem;
  }

  /* Title and links */
  .navbar a, #main-download {
    color: white;
    text-decoration: none;
    transition: 0.2s ease, transform 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #46395b;
  }

  .navbar a:hover, #download-ico:hover, #main-download:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 0.5rem;
  }

  #download-ico {
    padding: 0;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
  }

  #main-download {
    display: inline;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: var(--main-color);
  }

  .navbar-title {
    font-weight: bold;
    font-size: 2rem;
  }

  .navbar-links {
    display: flex;
    margin-left: 1rem;
  }

  .navbar-links img {
    height: 80%;
    margin: 0;
  }

  .main-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/home_background.jpg');
    background-size: cover;
    background-position: center;
    padding: 5% 0rem;
    color: #ffff;
    text-align: center;
  }

  .main-top h1 {
    font-size: 7rem;
    font-weight: bold;
  }

  .main-top #arr_down {
    transition: 0.2s ease, transform 0.3s ease;
    scroll-behavior: smooth;
  }

  .main-top #arr_down:hover {
    transform: translateY(1);
  }
