section {
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    margin: 1rem;
}

.card img {
    width: 100%;
}