section {
    padding: 2rem;
}

article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex: 1 1 20rem;
    margin: 1rem;
    /* max-width: 30%; */
}

.card .image_cropper img {
    width: 100%;
    height: auto;
    border: 0;
}

.card .image_cropper {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 auto;
}

.card h3:first-of-type {
    margin-top: 1rem;
}

.card h3:last-of-type {
    margin-bottom: 1.2rem;
}

ul {
    padding-left: 1rem;
    /* list-style-position: inside; */
}