section {
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    margin: 1rem;
}

.card .image_cropper img {
    width: 100%;
    height: auto;
}

.card .image_cropper {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 auto;
}

.card p {
    margin-top: 0.5rem;
}


@media screen and (min-width: 769px) {

}